@font-face {
    font-family: 'spaceland_ten_oblique';
    src: url('../Webfonts/Spaceland-TenOblique.woff2') format('WOFF2'),
        url('../Webfonts/Spaceland-TenOblique.woff') format('WOFF'),
        url('../Webfonts/Spaceland-TenOblique.eot') format('EOT'),
        url('../Webfonts/Spaceland-TenOblique.svg') format('SVG');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #f3f2f2;
}


* {
    box-sizing: border-box;
    font-family: 'spaceland_ten_oblique';
}

a {
    color: inherit;

    text-decoration: none;
}


* {
    will-change: transform;
}

/*-----------block-----------*/
.presentation {
    max-width: 1162px;
    font-size: 25px;
    line-height: 20px;
    margin: 40px auto;
    padding: 0 10px;
    transition: 1s;
    position: relative;
    padding-top: 170px;
}

.block {
    transition: 1s;

}

.book {
    overflow: hidden;
    height: 660px;
}



.one__wrapper {
    display: flex;
    justify-content: center;
}




.conteiner {
    max-width: 1172px;
    padding: 0 10px;
    margin: 0 auto;
    overflow: hidden;
}

.block__wrapp {
    position: relative;
}

.one {
    margin-top: -57px;
}

.one__wrapper-litt-1,
.one__wrapper-litt-2,
.one__wrapper-litt-3 {
    font-size: 72px;
    line-height: 70px;
    color: #F59E9C;
    display: block;
    position: absolute;
    left: 0;
    top: -43px;
}



.one__wrapper-litt-2 {
    color: #42117A;
    left: 97%;
}

.one__wrapper-litt-3 {
    color: #F59E9C;
    top: 526px;
    left: 96%;
}

.one__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 920px;
    margin: 111px auto 0;
}

.one__wrapper-box {
    margin-top: 95px;
}

.one__box-content {
    position: relative;
}

.one__box-content h1 {
    display: inline-block;
    font-size: 83px;
    line-height: 81px;
    color: #360973;
}

.one__box-content p {
    font-size: 34px;
    line-height: 74px;
    letter-spacing: 10px;
    color: #F59E9C;

    display: inline-block;
    position: absolute;
    top: 76px;
    left: 186px;
    transform: rotate(-90deg);
}

.one__box-content p::before {
    content: url('../images/text__line.png');
    display: inline-block;
    transform: rotate(90deg);
    padding-right: 20px;
    position: absolute;
    top: 14px;
    left: -64px;

}

.one__box-btn {
    margin-top: 32px;
    font-size: 37px;
    letter-spacing: 10px;
    display: inline-block;
    padding: 14px 69px 17px 96px;

    border-radius: 29px;
    background-color: #bdb2cb;
    box-shadow: 5.592px 8.29px 23.76px 0.24px rgba(0, 0, 0, 0.26);

    color: #fff;

    cursor: pointer;
}

.one__wrapper-conteiner {
    display: flex;
}

.one__wrapper-conteiner p {
    font-size: 15px;
    line-height: 22px;
    color: #421079;
}


.one__conteiner-box-1 {
    width: 292px;
    margin-top: 40px;
    position: relative;
}


.img__1 {
    width: 98%;
    position: absolute;
    top: 76px;
    transition: 1.5s;
}

.one__conteiner-box-1 span {
    font-size: 249px;
    line-height: 242px;
    color: #421079;
    position: absolute;
    top: -21px;
    right: 0;
}

.one__conteiner-box-1 p {
    padding-left: 30px;
}

.one__conteiner-box-1::before {
    content: url('../images/line__2.png');
    position: absolute;
    top: -40px;
    right: 0;
}

.one__conteiner-box-1::after {
    content: url('../images/line__3.png');
    position: absolute;
    bottom: -44px;
    right: 54px;
}


.one__conteiner-box-2::before {
    content: url('../images/line__2.png');
    position: absolute;
    top: -5px;
    right: 0;
    z-index: 1;
}

.one__conteiner-box-2 span {
    font-size: 176px;
    line-height: 171px;
    color: #421079;
    position: absolute;
    top: 242px;
    right: 0;
    z-index: 0;
}

.one__conteiner-box-2 {
    display: flex;
    margin-bottom: -60px;
}


.one__conteiner-box-2 p {
    padding-left: 10px;
    margin: auto 0 0 0;
}

.one__conteiner-box-2 {
    width: 201px;
    position: relative;
}

.img__2 {
    width: 98%;
    position: absolute;
    top: 15px;
    z-index: 1;
    transition: 1.5s;

}



.block__wrapp-btn {
    border: none;
    outline: none;
    background: #f3f2f2;
    cursor: pointer;
    display: block;
    margin: 128px auto 0;
}

.one__conteiner-box-3 {
    width: 100px;
    position: relative;
}

.img__3 {

    position: absolute;
    top: 220px;
    transition: 1.5s;
}


.img__2-2 {
    width: 98%;
    position: absolute;
    top: 706px;
    z-index: 3;
    transition: 1.5s;
}

.img__1-2 {
    width: 98%;
    position: absolute;
    top: -618px;
    z-index: 3;
    transition: 1.5s;
}

.img__3-2 {

    position: absolute;
    top: -341px;
    z-index: 3;
    transition: 1.5s;
}

/*--------media---------------*/
@media(max-width: 920px) {
    .one__wrapper {
        justify-content: space-evenly;
    }



    .presentation p {
        margin-top: -50px;
    }

    .one__conteiner-box-1::before,
    .one__conteiner-box-2::before {
        overflow: hidden;
        height: 408px;
    }


    .one__wrapper-litt-1,
    .one__wrapper-litt-2,
    .one__wrapper-litt-3 {
        font-size: 52px;
    }

    .one__wrapper-litt-3 {
        top: 406px;
        left: 95%;
    }

    .one__box-content h1 {
        font-size: 51px;
        line-height: 50px;
    }

    .one__box-content p {
        font-size: 21px;
        line-height: 74px;
        top: 25px;
        left: 117px;
    }

    .one__box-btn {
        font-size: 16px;
        padding: 11px 30px 12px 48px;
    }

    .one__wrapper-conteiner {
        overflow: hidden;
        height: 399px;
    }

    .one__conteiner-box-1 span {
        font-size: 160px;
        line-height: 242px;
        top: -21px;
    }

    .one__conteiner-box-2 span {
        font-size: 157px;
        top: 165px;
    }

    .one__conteiner-box-1 {
        width: 180px;
    }

    .one__conteiner-box-2 {
        width: 155px;
    }

    .one__conteiner-box-3 {
        width: 50px;
    }

    .img__1-2 {
        top: -350px;
    }

    .img__2-2 {
        top: 550px;
    }

    .img__3 {
        width: 90%;
        top: 170px;
    }

    .img__3-2 {
        width: 90%;
        top: -180px;
    }

    .one__conteiner-box-2 p {
        margin: auto 0 75px 0;
    }

    .one__conteiner-box-1::after {
        bottom: 33px;
    }
}



@media(max-width: 580px) {
    .conteiner {
        padding: 52px 10px
    }

    .one__box-content h1 {
        font-size: 43px;
        line-height: 37px;
    }

    .one__box-content p {
        font-size: 17px;
        line-height: 74px;
        top: 0px;
        left: 97px;
    }

    .one__box-content p::before {
        top: 10px;
        left: -58px;
    }

    .presentation p {
        margin-top: -94px;
        font-size: 16px;
        line-height: 19px;
    }

    .one__wrapper-litt-3 {
        top: 486px;
    }

    .one__wrapper {
        display: block;
    }

    .one__wrapper-box {
        width: 160px;
        margin: 0 auto 40px;

        position: relative;
        top: 312px;
    }

    .one__wrapper-conteiner {
        display: flex;
        justify-content: center;
        height: 399px;

        position: relative;
        top: -308px;
    }

    .one__conteiner-box-2 p {
        margin: auto 0 75px 0;
    }

    .block__wrapp-btn {
        margin: -95px auto 0;
    }
}

@media(max-width: 400px) {

    .one__conteiner-box-1::before,
    .one__conteiner-box-2::before {
        overflow: hidden;
        height: 374px;
    }

    .one__wrapper-litt-2 {
        left: 94%;
    }

    .one__wrapper-litt-3 {
        left: 90%;
    }

    .one__wrapper-conteiner p {
        font-size: 13px;
        line-height: 14px;
    }

    .one__conteiner-box-2 {
        width: 120px;
    }

    .one__conteiner-box-1 {
        width: 150px;
    }

    .one__conteiner-box-3 {
        width: 40px;
    }

    .one__conteiner-box-2 span {
        top: 119px;
    }

    .one__conteiner-box-2 p {
        margin: auto 0 114px 0;
    }

    .one__conteiner-box-1::after {
        bottom: 73px;
    }

    .img__1-2 {
        top: -270px;
    }

    .img__2 {
        top: 40px;
    }

    .img__2-2 {
        top: 439px;
    }


    .img__3 {
        width: 100%;
        top: 147px;
    }

    .img__3-2 {
        width: 100%;
        top: -160px;
    }
}